<h1> Bring it on <%= $player.name %>!! </h>

<h2>Rock, Paper, or Scissors.Choose!</h2>

<form action='/rock' method="post">
  <input type="submit" name="" value="Rock">
</form>

<form action='/paper' method="post">
  <input type="submit" name="" value="Paper">
</form>

<form action='/scissors' method="post">
  <input type="submit" name="" value="Scissors">
</form>